Repository tangledbytes/node-express-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

.lintstagedrc.yml:

'*.{ts,js}':
  - prettier --write
  - eslint --fix
  - jest --findRelatedTests
  - tsc --noEmit
'*.{json,md,yml}':
  - prettier --write

Added editor config and added type based static analysis plugin in eslint
  .editorconfig
  .eslintrc.yml
Due: prettier --write

Added coverage flag
  .lintstagedrc.yml
Due: prettier --write

Minor changes
  .eslintrc.yml
  .lintstagedrc.yml
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write

Updated threshold
  jest.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Added tests for Result class
  src/core/definition/__tests__/Result.ts
  test/jest.app.js
  test/jest.lint.js
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Added tests and changed thresholds
  jest.config.js
  src/core/definition/__tests__/Result.ts
  src/core/definition/__tests__/UseCaseError.ts
  src/entrypoint/web/defintions/index.ts
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Add additional directories and .keep files with proper instructions
  src/core/entities/index.ts
  src/core/usecases/.keep
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Add index.ts with the instructions
  src/data/index.ts
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Add directories and ExpressApp for configurations
  src/entrypoint/web/ExpressApp.ts
  src/entrypoint/web/controllers/.keep
  src/entrypoint/web/index.ts
  src/entrypoint/web/routers/.keep
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Fixed lintstagedrc for ts files and added experimental pre push hook to huskyrc
  .huskyrc.yml
  .lintstagedrc.yml
Due: prettier --write

Added dummy cli directory
  src/entrypoint/cli/.keep
Due: none

Added more directories
  src/index.ts
  src/setup/.keep
  src/setup/Main.ts
  src/setup/core/.keep
  src/setup/data/.keep
  src/setup/entrypoint/.keep
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Modified readme with proper instructions
  README.md
Due: prettier --write

Changed thresholds to pass pre push hook
  README.md
  jest.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit

Changed thresholds to pass pre push hook
  jest.config.js
Due: prettier --write, eslint --fix, jest --findRelatedTests, tsc --noEmit
